<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="catalogo">

    <select id="obtenerEstados" resultType="modelo.pojo.Estado">
        SELECT * FROM estado
    </select>
    
    <select id="obtenerMunicipiosEstado" parameterType="int" 
            resultType="modelo.pojo.Municipio">
        SELECT * 
        FROM municipio 
        WHERE idEstado = #{idEstado}
    </select>
    
</mapper>
